{% extends '::base.html.twig' %}

{% block body %}
    {% for type, messages in app.session.flashbag.all() %}
        {% for message in messages %}
            <div class="flash-{{ type }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
    <div>
        {% block kitpages_simpleedm_content %}
        {% endblock kitpages_simpleedm_content %}
    </div>
{% endblock %}
